{% extends 'base.html' %}
{% block content %}

<div class="content container-fluid">
               <div class="page-header">
                  <div class="row align-items-center">

                  </div>
               </div>
     {% include 'comprend/messages.html' %}
      {% if action is None %}
      <form method="post" action="?action=Show-Students">
          {% csrf_token %}
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                              <div class="row">
                                 <div class="col-12">
                                     <h5 class="form-title"><span>Ajouter Résultat</span></h5>
                                 </div>

                                  <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                 <label >Matière</label>
                                       <select class="form-control" name="matiere_id">

                                            {% for i in matiers %}
                                            <option value="{{i.id}}">{{i.nom}}</option>
                                            {% endfor %}

                                      </select>
                                 </div>
                                  </div>

                                  <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                 <label>Année scolaire</label>
                                       <select class="form-control" name="session_year_id">

                                            {% for i in session_year %}
                                            <option value="{{i.id}}">{{i.debut_session}} au {{i.fin_session}}</option>
                                            {% endfor %}
                                      </select>
                                  </div>
                                  </div>


                                 <br>
                                <div class="col-10 mr-3">
                                    <button type="submit" class="btn btn-primary">Récupérer l'étudiant</button>
                                 </div>
                              </div>
                            <hr>
                          </div>
                        </div>
                     </div>
               </div>
      </form>
      {% else %}
      <form method="post" action="{% url 'prof_save_result' %}">
          {% csrf_token %}
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                              <div class="row">
                                 <div class="col-12">
                                     <h5 class="form-title"><span>Ajouter Résultat</span></h5>
                                 </div>

                                  <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                 <label >Matiére</label>
                                       <select class="form-control" name="matiere_id">
                                            <option value="{{get_matiere.id}}">{{get_matiere}}</option>
                                      </select>
                                 </div>
                                  </div>

                                  <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                 <label>Année de session</label>
                                       <select class="form-control" name="session_year_id">

                                            <option value="{{get_session.id}}">{{get_session}}</option>

                                      </select>
                                  </div>
                                  </div>
                                  <hr>
                                  <div class="col-12 col-sm-12">
                                 <div class="form-group">
                                 <label>list d'étudiant</label>
                                       <select class="form-control" name="student_id">
                                            {% for i in students %}
                                            <option value="{{i.admin.id}}">  {{i.admin.first_name}} {{i.admin.last_name}}</option>
                                            {% endfor %}
                                      </select>
                                  </div>
                                  </div>

                                  <div class="col-12 col-sm-6">
                                 <div class="form-group">

                                 <label>Note de Controle </label>
                                       <input type="number" class="form-control" name="controle">
                                  </div>

                                  </div>
                                  <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                        <label>Note d'exam</label>
                                       <input type="number" class="form-control" name="exam">

                                  </div>
                                  </div>


                                 <br>
                                <div class="col-10 mr-3">
                                    <button type="submit" class="btn btn-primary">Ajouter Resultat</button>
                                 </div>
                              </div>
                            <hr>
                          </div>
                        </div>
                     </div>
               </div>
      </form>
      {% endif %}
</div>

{% endblock %}
