{% extends 'base.html' %}
{% block content %}
  <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="post" action="{% url 'update_student' %}" enctype="multipart/form-data">
                              {% csrf_token %}
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Modifier étudiant</span></h5>
                                 </div>

                                 {% include 'comprend/messages.html' %}

                                 <div class="col-sm-11">
                                    <div class="form-group">
                                       <label>Photo de profil</label>
                                       <input type="file" class="form-control" name="profile_pic" >
                                         <input type="text" class="form-control" name="student_id" value="{% for i in student %}{{i.admin.id}}{% endfor %}" hidden>
                                    </div>
                                 </div>
                                 <div class="col-sm-11">
                                    <div class="form-group">
                                       <label>Prénom</label>
                                       <input type="text" class="form-control" name="first_name" value="{% for i in student %}{{i.admin.first_name}}{% endfor %}" >
                                    </div>
                                 </div>
                                 <div class="col-sm-11">
                                    <div class="form-group">
                                       <label>Nom</label>
                                       <input type="text" class="form-control" name="last_name" value="{% for i in student %}{{i.admin.last_name}}{% endfor %}" >
                                    </div>
                                 </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                       <label>Email</label>
                                       <input type="text" class="form-control" name="email" value="{% for i in student %}{{i.admin.email}}{% endfor %}" >
                                    </div>
                                 </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                       <label>Nom d'utilisateur</label>
                                       <input type="text" class="form-control" name="username" value="{% for i in student %}{{i.admin.username}}{% endfor %}" >
                                    </div>
                                 </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                       <label>Mot de passe</label>
                                       <input type="password" class="form-control" name="password"  placeholder="Remplissez uniquement si vous souhaitez modifier le mot de passe." >
                                    </div>
                                 </div>
                               <div class="col-sm-11">
                                    <div class="form-group">
                                        <label>Adresse</label>
                                        <textarea class="form-control" name="address" required >{% for i in student %}{{i.adresse}}{% endfor %}"</textarea>
                                    </div>
                                 </div>

                               <div class="col-sm-11">
                                    <label>Sex</label>
                                       <select class="form-control" name="gender">
                                        <option>Sélectionnez le sexe</option>
                                        <option value="Fille">Fille</option>
                                        <option value="Garcon">Garcon</option>
                                       </select>
                                 </div>
                               <br>
                               <div class="col-sm-11">
                                   <label>Groupe</label>
                                       <select class="form-control" name="groupe_id" >
                                         <option>Sélectionnez le groupe</option>
                                           {% for i in groupe %}
                                          <option value="{{i.id}}">{{i.nom}}</option>
                                           {% endfor %}
                                       </select>
                                 </div>
                              <br>
                               <div class="col-sm-11">
                                    <label>Année scolaire</label>
                                       <select class="form-control" name="session_year_id"  >
                                    <option>Sèlectionnez Année scolaire </option>

                                           {% for i in session_year %}
                                          <option value="{{i.id}}">{{i.debut_session}}  au  {{i.fin_session}}</option>
                                          {% endfor %}
                                       </select>
                                 </div>
                               <br>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Modifier étudiant</button>
                                 </div>

                           </form>
                        </div>
                     </div>
                  </div>
               </div>
{% endblock %}